<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Item</th>
            <th>Product Code</th>
            <th>Picture</th>
            <th>Date</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.pName }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.item }}</td>
            <td>{{ product.pCode }}</td>
            <td>{{ product.picture }}</td>
            <td>{{ product.date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
